# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Virtual environments
venv/
env/
*.egg-info/
*.egg

# IDEs and editors
.vscode/
.idea/
.DS_Store
*.swp

# Logs
*.log
*.pot

# Test and coverage
.coverage
.cache/
pytest_cache/

# Build
dist/
build/

# Project specific
/backend/static/
/backend/media/
*.db